<!DOCTYPE html>
<html>
<head>
    <title>MCHS Club Portal</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body>
<header>
    <!-- Header content (logo, navigation, etc.) -->
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contacts</a></li>
            <!-- Other navigation items -->
        </ul>
    </nav>
</header>
<div class="container">
    <div class="content">
        <main class="club-listings">
            <section class="side-bar-listings">
                <!-- Listings for club search -->
                <h1>List</h1>
                <!-- Add filter options -->
            </section>

            <section class="clubs">
                <!-- Club listings -->
                <div class="club-item">
                    <h2>Club Name</h2>
                    <h3>Description</h3>
                    <!-- Other club details -->
                    <div class="club-details-item">
                        <ul id="clubDetailsList">
                            <li class="advisor">Club Advisor</li>
                            <li class="president">President</li>
                            <li class="meet-time">Meet Time</li>
                            <li class="location">Location</li>
                        </ul>
                    </div>
                </div>
                <!-- Repeat club-item for each job listing -->
            </section>
        </main>
    </div>
</div>

<footer>
    <!-- Footer content -->
    <p>&copy; 2023 MCHS Club Portal. All rights reserved.</p>
</footer>
</body>
</html>